/* CSS BY Eduardo Tan */

/* IMPORTED FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --blue: #007BFF;
    --red: #FF4500;
    --white: #EAEAEA;
    --black: #000000;
    --charcoal: #333333;
    --font: "Inter", sans-serif;
}

/* GLOBAL STYLES (MOBILE FIRST (SMALL) */
body {
    font-family: "Inter", sans-serif;
    color: var(--white);
    min-width: 400px;
    background-color: var(--black);
}
/* MIN-WIDTH OF THE PAGE SHOULD NOT GO BELOW 400PX */

/* ADD A DIV WITH THE CLASS OF CONTAINER TO EVERY CONTENT CONTAINER THIS IS ALLOW THE BASE ELEMENTS TO BE 100% WIDTH, BUT CONSTRAIN THE ACTUAL CONTENT TO 90% */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
/* ADD FLOATING SVG LOGO BEFORE THE H1 */
h1 {
    font-size: 1.5em;
    font-weight: 800;
    text-indent: 2.3em;
    padding-top: 1em;
    color: var(--blue);
    margin-left: .2em;
    width: 3rem;
    height: 3rem;
    background: url('images/vanguard-logo.svg') no-repeat center/contain;
}
h2 {
    font-size: 1.5em;
    font-weight: 700;
    padding: 1em .5em .8em;
}
h3 {
    font-size: 1.1em;
    font-weight: 700;
    padding: 1em .5em;
}
p {
    font-size: .8em;
    line-height: 1.5em;
}
/* SECTIONS USED FOR NAV HAMBURGER */
.headerNav {
    margin: 0 .4em .4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    max-height: 0;
}
nav h2 {
    visibility: hidden;
    height: 1px;
}
nav li a {
    display: block;
    width: 175px;
    font-size: 1.2rem;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: var(--blue);
    transition: background-color .3s ease-in;
    float: right;
}
nav a:hover, nav input:hover {
    background-color: var(--blue);
    color: var(--black);
}
nav label {
    cursor: pointer;
    display: inline-block;
    padding: 0 2rem 2.5rem 0;
    user-select: none;
    margin-left: 14em;
}
nav label span {
    background-color: var(--white);
    display: block;
    height: .2rem;
    position: relative;
    transition: background-color .3s ease-out;
    width: 1.5rem;
}
nav label span:before, nav label span:after {
    background-color: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
nav label span:before {
    top: .5rem;
}
nav label span:after {
    top: -.5rem;
}
nav input {
    display: none;
}
nav input:checked ~ ul {
    max-height: 500px;
}
nav input:checked ~ label span {
    background: transparent;
}
nav input:checked ~ label span:before {
    transform: rotate(-45deg);
}
nav input:checked ~ label span:after {
    transform: rotate(45deg);
}
nav input:checked ~ label:not(.steps) span:before, nav input:checked ~ label:not(.steps) span:after {
    top: 0;
}

/* ADD TO "INNOVATION & INVESTMENT SECTION (Photo by Kevin Matos on Unsplash) */
#innovation {
    background: linear-gradient(var(--blue), rgba(0, 0, 0, 0.75) 1%), url('images/vanguard-hero.jpg') no-repeat center center/cover;
    height: 80vh;
    display: grid;
    place-items: center;
    text-align: center;
    padding: 1rem;
    overflow: hidden;
    color: var(--white);
}
#innovation p {
    margin-bottom: 25px;
}
#innovation a {
    background-color: var(--blue);
    color: var(--white);
    padding: 1em;
    font-weight: 700;
    border-radius: 10px;
    text-decoration: none;
}
#innovation > .container {
    backdrop-filter: blur(10px);
}
#about, #services {
    background-color: var(--white);
    color: var(--black);
}
#about p {
    font-weight: 550;
}
#services section, #results {
    background-color: var(--blue);
    color: var(--white);
}
#services {
    padding-bottom: 2em;
}
#services section {
    border-radius: 10px;
    padding: 1.2em;
    margin-bottom: 1em;
    box-shadow: 1px 1px 3px black;
}
#services h3 {
    padding: 0 .3em .4em;
    line-height: 1.4em;
}
#results h3 {
    font-size: 1.4em;
}
#results {
    padding-bottom: 1.2em;
}
table {
    justify-self: center;
    width: 90%;
    background-color: var(--black);
}
th {
    font-weight: 600;
}
th, td {
    padding: 15px;
    border: 1px solid var(--charcoal);
    text-align: center;
    font-size: .8em;
}
tr:nth-child(even) {
    background-color: var(--charcoal);
}
/* THIS ONE IS DONE FOR YOU */
#bar-chart {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: flex-end;
    justify-content: space-around;
    gap: 1rem;
    height: 300px;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    position: relative;
}
/* ADD ON TRANSITION ON HEIGHT */
.bar {
    width: 50px;
    background: var(--charcoal);
    border-radius: 10px;
    position: relative;
    transition: height 1s ease-in-out;
    height: 0;
}
/* THIS ONE IS DONE FOR YOU */
.bar::after {
    content: attr(data-year);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
}
#contact, footer {
    background-color: var(--black);
}
#contact p {
    margin: 0 1em;
}
form {
    margin-top: 1em;
}
label {
    display: block;
    font-size: .8em;
}
input[type=text], input[type=email], textarea, input[type=submit] {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 2px solid var(--blue);
}
textarea {
    resize: vertical;
}
input[type=submit] {
    border-style: none;
    margin: 12px 0;
    display: block;
    width: 95%;
    justify-self: center;
    background-color: var(--blue);
    color: var(--white);
    font-size: .9em;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
}
footer {
    padding: 2em;
    text-align: center;
    font-size: .8em;
}
footer a {
    color: var(--blue);
}

/* Animations, transitions, and transformations */
@keyframes bobbing {
    0% {
        background-position-y: 0px;
    }
    100% {
        background-position-y: 15px;
    }
}
h1 {
    animation: bobbing 3s ease-in-out infinite alternate-reverse;
}
@keyframes fadeIn {
    0% {
        top: -10px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 100%;
    }
}
h2, h3, #innovation a, input[type=submit] {
    position: relative;
    animation: fadeIn 1s ease-in;
}
#innovation a, input[type=submit] {
    transition: background-color 0.5s, font-size 0.5s ease-in-out;
}
#innovation a:hover, input[type=submit]:hover {
    background-color: var(--red);
    font-size: 1.1em;
}
#services section {
    transition: transform 0.5s, box-shadow 0.5s ease-in-out;
}
#services section:hover {
    transform: translate(-2px, -12px);
    box-shadow: 3px 3px 3px black;
}
@keyframes stepUp {
    0% {
        height: 0;
    }
    100% {
        height: var(--height);
    }
}
/* ADD ANIMATION ON stepUp for 1s ease-in-out forwards */
.bar {
    animation: stepUp 1s ease-in-out forwards;
}


/* MEDIA QUERIES (MEDIUM) */ 
@media screen and (min-width: 800px) {
    #results {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .results-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .results-table {
        width: 50%;
    }
    .bar-chart {
        width: 50%;
    }
}

/* MEDIA QUERIES (LARGE) */
@media screen and (min-width: 1024px) {

}